html {
  padding: 0;
  margin: 0;

  .clearfix {
    clear:right;
}

  section#register {
    min-height: 100vh;
    background: url("../img/running.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    .logo{
      height: 150px;
    }
    .img-med{
      height: 300px;
    }

    .form {
      background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.8) 0%, rgba(250,250,250,0.9) 30%, rgba(237,237,237,1) 46%, rgba(255,255,255,0.8) 100%);
      label{
        padding-left: 10px;
      }
    }
  }

  section#info {
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
}
